* {
  box-sizing: border-box;
  font-family: "spartan", sans-serif;
}
:root {
  --main-color: rgb(68, 71, 238);
  --secondary-color: #fe7163;
  --third-color: #ede7f6;
}
.container {
  margin: auto;
}
header .container .icon {
  display: none;
}
@media (max-width: 576px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  header .container .nav ul {
    flex-direction: column;
    position: absolute;
    top: 29px;
    right: 18px;
    display: none;
    background-color: var(--third-color);
    border-radius: 10px;
  }
  header .container .nav ul li {
    padding: 10px;
  }
  header .container .nav:hover ul {
    display: block;
  }
  header .container .icon {
    display: block;
    margin-right: 10px;
  }
}
body {
  background-color: var(--third-color);
}
@media (min-width: 576px) {
  .container {
    width: 550px;
    padding: 0px 15px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
    padding: 0px 15px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-grow: 0.2;
}
header .container ul li {
  margin-right: 10px;
}
header .container ul li a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}
header .container ul li a:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 10px;
  border: 2px sold var(--main-color);
}
header .logo img {
  height: 50px;
}
/* start section  */
/* start landing  */
.landing .container {
  display: grid;
}
@media (max-width: 576px) {
  .landing .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media (min-width: 576px) {
  .landing .container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
@media (min-width: 992px) {
  .landing .container .first {
    order: 1;
  }
  .landing .container .second {
    order: 2;
  }
}
@media (max-width: 991px) {
  .landing .container .first {
    order: 2;
  }
  .landing .container .second {
    order: 1;
  }
}
.landing .container div {
  margin: auto;
  text-align: center;
}
.landing .container h1 {
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  color: var(--main-color);
}
.landing .container a {
  display: inline-block;
  padding: 10px;
  border: 2px solid var(--secondary-color);
  text-decoration: none;
  font-weight: 900;
  color: var(--secondary-color);
  width: fit-content;
  min-width: 200px;
  text-align: center;
  margin: 10px 0px;
}
.landing .container a:hover {
  background-color: var(--secondary-color);
  color: white;
}
.landing .container div img {
  width: 100%;
}
/* end landing  */
/* start services  */
.services .service,
.projects .project {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}
.services .service .content {
  text-align: center;
  border: 2px solid #77b800;
  border-radius: 10px;
}
/*start component  */
.sectiontitle {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: #77b800;
  padding: 10px;
  border: 2px solid #77b800;
  border-radius: 10px;
}
.sectiontitle:hover {
  background-color: #77b800;
  color: white;
}
/*end component  */
/* start project section  */
.projects .project .content {
  position: relative;
}
.projects .project .content img {
  width: 100%;
}
.projects .project .content:hover img {
  filter: blur(1px);
}
.projects .project .content a:last-child {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  display: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
.projects .project .content:hover a:last-child {
  display: block;
}
/* end project section  */
.contacts .contact .content {
  text-align: center;
}
